<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Модальное окно</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link rel="stylesheet" href="/general.css"/>
  <link rel="stylesheet" href="./style.css"/>
</head>
<body>
  <button data-toggle="modal" data-target="#modal-id" type="button">Открыть</button>
  <div class="modal" id="modal-id">
    <div class="modal__content">
      Содержание модального окна
      <button data-dismiss="modal" type="button">Закрыть</button>
      <button class="modal__close-btn" data-dismiss="modal" type="button">
        <span class="visually-hidden">Закрыть</span>
      </button>
    </div>
  </div>
</body>
<script src="index.js"></script>
</html>
