{% extends Layout %}

{% block content %}
  <button data-toggle="uc-modal" data-target="modal-id" type="button">Открыть</button>
  <div class="uc-modal" id="modal-id">
    <div class="uc-modal__content">
      Содержание модального окна
      <button data-dismiss="uc-modal" type="button">Закрыть</button>
      <button class="uc-modal__close-btn" data-dismiss="uc-modal" type="button">
        <span class="visually-hidden">Закрыть</span>
      </button>
    </div>
  </div>
{% endblock %}
