<!doctype html>
<html lang="ru" class="uc-no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ components[title].desc }}</title>
  <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<h2>{{ components[title].desc }}</h2>
{% block content %}
{% endblock %}
</body>
<script src="./demo-{{ title }}.js"></script>
</html>
