
<ul class="uc-acco">
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
</ul>

<!-- Не связанный аккордеон -->

<ul class="uc-acco" data-type="simple">
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
    </div>
  </li>
</ul>
