
<!--DEMO {% extends Layout %} DEMO-->

<!--DEMO {% block content %} DEMO-->
<ul class="uc-acco">
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
</ul>

<!--DEMO <h2>Не связанный аккордеон</h2> DEMO-->

<!-- Не связанный аккордеон -->

<ul class="uc-acco" data-type="simple">
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
  <li class="uc-acco__item">
    <button class="uc-acco__trigger" data-toggle="uc-acco">Раздел 1</button>
    <div class="uc-acco__content">
      <!--DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus dicta est
      facilis illum itaque, iusto laboriosam laborum molestiae numquam officia quisquam suscipit?
      Accusamus, asperiores beatae eaque error libero nemo nesciunt sit temporibus. Adipisci
      cupiditate ducimus exercitationem facere in, ipsa mollitia odit recusandae reprehenderit.
      Ipsum nam quibusdam sequi voluptas. DEMO-->
    </div>
  </li>
</ul>
<!--DEMO {% endblock %} DEMO-->
